.App-SVG{
  width: 100%;
  height: 100%;
  border-style: solid;
  border-color: black;
}

.AppContainer{
  margin: 5% 5% 5% 5%;
  border-style: solid;
  border-color: red;
  
  display: flex;
}

.Capas-Container{
  display: flex;
  flex-direction: column;
}

.Capas-CheckboxContainer{
  display: flex;
}